<h1>Forgot your password?</h1>

<.form let={f} for={@changeset} action={Routes.user_path(@conn, :start_password_reset)} as={:user}>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "Send instructions to reset password" %>
  </div>
</.form>

<p>
  <%= link "Register", to: Routes.user_path(@conn, :start_registration_form) %> |
  <%= link "Log in", to: Routes.user_path(@conn, :login_form) %>
</p>
