<h1>Forgot your password?</h1>

<.form :let={f} for={@changeset} action={~p"/start_password_reset"} as={:form}>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "Send instructions to reset password" %>
  </div>
</.form>

<p>
  <%= link "Register", to: ~p"/start_registration" %> |
  <%= link "Log in", to: ~p"/login" %>
</p>
